nav {
  background-color: #3c641b;
}
.nav-links {
  display: flex;
  list-style: none;
  text-align: center;
  color: #fff;
}

.nav-links li {
  margin: 0 30px;
  color: #ffd;

  display: inline-block;
  word-wrap: no-wrap;
  position: relative;
}

.in {
  color: #fff;
}

.nav-links li::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;

  padding: 2px;
  width: 0%;

  transition: all 0.5s ease;
}

.nav-links li:hover::before {
  width: 100%;
  background-color: #fff;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.burger {
  margin-right: 50px;
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fafafa;
  margin: 5px;
  transition: all 0.5s ease;
}

.nav-active {
  transform: translateX(0%);
}
