.shadower {
  -webkit-box-shadow: 0px 0px 31px 13px rgba(211, 211, 211, 0.26);
  -moz-box-shadow: 0px 0px 31px 13px rgba(211, 211, 211, 0.26);
  box-shadow: 0px 0px 31px 13px rgba(211, 211, 211, 0.26);
}

.custom-shape-divider-bottom-1679859900 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1679859900 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1679859900 .shape-fill {
  fill: red;
}

.back-hero {
  background-color: #ffefec;
  background-image: linear-gradient(
    0deg,
    #ffefec2e 0%,
    #ffa2b521 55%,
    #ff7d9738 100%
  );
}
