.shadower {
  -webkit-box-shadow: 0px 0px 31px 13px rgba(211, 211, 211, 0.26);
  -moz-box-shadow: 0px 0px 31px 13px rgba(211, 211, 211, 0.26);
  box-shadow: 0px 0px 31px 13px rgba(211, 211, 211, 0.26);
}
